@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
  }
}

.text-stroke-zc-0 {
  -webkit-text-stroke: 1px #4a90e2;
}
.text-stroke-zc-1 {
  -webkit-text-stroke: 1px #50e3c2;
}
.text-stroke-zc-2 {
  -webkit-text-stroke: 1px #e35050;
}

.text-stroke-zc {
  -webkit-text-stroke: 1px #fff;
}
